.page-header {
  .frame-type-tplbasic_simpleslider {
    height : 999px;
  }
}

#slider {
  height : 100%;
  .owl-stage-outer, .owl-stage, .owl-item, .backgroundImage {
    height : 100%;
  }
  .backgroundImage {
    background-repeat: no-repeat;
    background-size: cover;
  }
}