<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:nedo="Basic\TplBasic\ViewHelpers">

	<f:layout name="Page"/>

	<f:section name="Configuration">
		<flux:form id="fluidpage">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
		</flux:form>
		<flux:grid>
			<!-- Edit this grid to change the "backend layout" structure -->
			<flux:grid.row>
				<flux:grid.column colPos="3" name="Banner"/>
				<flux:grid.column colPos="0" colspan="3" name="main"/>
				<flux:grid.column colPos="1" name="right"/>
				<flux:grid.column colPos="2" name="Links"/>
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<f:switch expression="{data.backend_layout}">
			<f:case value="pagets__Einspaltig">
				<f:if condition="{v:content.get(column:1) -> v:iterator.first()}">
					<div class="page-header">
						<v:content.render column="1"/>
					</div>
				</f:if>
				<div class="wrapper">
					<v:content.render column="0"/>
				</div>
			</f:case>
			<f:case value="pagets__Zweispaltig">
				<div class="row">
					<div class="col-12">
						<v:content.render column="3"/>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-4">
						<div id="sidebarContent">
							<v:content.render column="1"/>
						</div>
					</div>
					<div class="col-12 col-8">
						<v:content.render column="0"/>
					</div>
				</div>
			</f:case>
			<f:case value="pagets__Zweispaltig_1">
				<div class="row">
					<div class="col-12">
						<v:content.render column="2"/>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-8">
						<v:content.render column="0"/>
					</div>
					<div class="col-12 col-4">
						<div id="sidebarContent">
							<v:content.render column="1"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="pagets__Dreispaltig">
				<div class="row">
					<div class="col-12">
						<v:content.render column="3"/>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-3">
						<v:content.render column="1"/>
					</div>
					<div class="col-12 col-6">
						<v:content.render column="0"/>
					</div>
					<div class="col-12 col-3">
						<v:content.render column="2"/>
					</div>
				</div>
			</f:case>
			<f:case value="pagets__Hintergrundbild">
				<v:page.resources.fal table="pages" field="media" uid="{page.uid}" as="images">
					<f:for each="{images}" as="image">
						<v:variable.set name="image1" value="{image.url}"/>
					</f:for>
				</v:page.resources.fal>
				<div class="page-header" style="background-image: url('{image1}')">
					<v:content.render column="0"/>
				</div>
			</f:case>
		</f:switch>
</f:section>
</div>
