<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<flux:field.select name="settings.color" label="Farben" items="{
		0: {0: 'Standard', 1: 'default'},
		1: {0: 'Primary', 1: 'primary'},
		2: {0: 'Info', 1: 'info'},
		3: {0: 'Erfolgreich', 1: 'success'},
		4: {0: 'Warnung', 1: 'warning'},
		5: {0: 'Risiko', 1: 'danger'},
		6: {0: 'Neutral', 1: 'neutral'}}">
	</flux:field.select>

</div>