<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:nedo="Basic\TplNedofree\ViewHelpers">

	<f:layout name="Page"/>
	<f:render partial="Assets"/>
	<style>
		.background-color {
			background-color : {nedo:color(field: 'primaryColor')};
		}
	</style>
	<f:if condition="{v:content.get(column:1) -> v:iterator.first()}">
		<f:then>
			<v:variable.set name="banner" value="has-banner" />
		</f:then>
		<f:else>
			<v:variable.set name="banner" value="no-banner" />
		</f:else>
	</f:if>
	<div id="header" class="{banner}">
		<f:render partial="Header"/>
	</div>
	<f:render section="Main"/>
	<f:render partial="Footer" arguments="{_all}"/>

</div>