.bgSecondary {
  background-color: #4b4c51;
}
.bgWhiteRGBA {
  background-color: rgba(255, 255, 255, 0.8);
}
.bgPrimaryRGBA {
  background-color: rgba(0, 102, 179, 0.8);
}
.bgSekundaryRGBA {
  background-color: rgba(255, 102, 0, 0.8);
}
.bgBlackRGBA {
  background-color: rgba(0, 0, 0, 0.8);
}
.bgWhite {
  background-color: #fff;
}
.bgPrimary {
  background-color: #0066b3;
}
.bgSekundary {
  background-color: #ff6600;
}
.bgBlack {
  background-color: #000;
}
.colorWhite {
  color: #fff;
}
.colorPrimary {
  color: #0066b3;
}
.colorPrimary a {
  color: #0066b3;
}
.colorPrimary a:hover {
  color: #0066b3;
}
.colorSecondary {
  color: #ff6600;
}
.colorSecondary a {
  color: #ff6600;
}
.colorSecondary a:hover {
  color: #ff6600;
}
.grid-with-image .text-center {
  max-width: 80%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.grid-with-image .text-center p {
  margin-bottom: 0;
}
.grid-with-image p {
  margin-bottom: 0;
}
.w-730 {
  max-width: 730px;
  width: 100%;
}
.col-md-3 header h2 {
  color: #4b4c51;
  font-size: 1.5rem;
}
.col-md-9 header h2 {
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
}
