.bgWhiteRGBA {
  background-color: rgba(255, 255, 255, 0.8);
}
.bgPrimaryRGBA {
  background-color: rgba(0, 102, 179, 0.8);
}
.bgSekundaryRGBA {
  background-color: rgba(255, 102, 0, 0.8);
}
.bgBlackRGBA {
  background-color: rgba(0, 0, 0, 0.8);
}
.bgWhite {
  background-color: #fff;
}
.bgPrimary {
  background-color: #0066b3;
}
.bgSekundary {
  background-color: #ff6600;
}
.bgBlack {
  background-color: #000;
}
.colorPrimary {
  color: #0066b3;
}
.colorPrimary a {
  color: #0066b3;
}
.colorPrimary a:hover {
  color: #0066b3;
}
.colorSecondary {
  color: #ff6600;
}
.colorSecondary a {
  color: #ff6600;
}
.colorSecondary a:hover {
  color: #ff6600;
}
.table .heading th {
  background-color: #0066b3;
}
