<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	  xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

		<f:if condition="{settings.subtitle}">
			<h6 class="card-subtitle">{settings.subtitle -> f:format.raw()}</h6>
		</f:if>
		<f:if condition="{settings.headline}">
			<h4 class="card-title">{settings.headline -> f:format.raw()}</h4>
		</f:if>
		<f:if condition="{settings.content}">
			<p class="card-text">{settings.content -> f:format.raw()}</p>
		</f:if>
		<f:if condition="{settings.link}">
			<f:switch expression="{settings.linkBehavior}">
				<f:case value="-">
					<a href="{f:uri.typolink(parameter: settings.link)}">{settings.linkText}</a>
				</f:case>
				<f:case value="round">
					<a href="{f:uri.typolink(parameter: settings.link)}" class="btn btn-primary btn-round">{settings.linkText}</a>
				</f:case>
				<f:case value="btn">
					<a href="{f:uri.typolink(parameter: settings.link)}" class="btn btn-primary">{settings.linkText}</a>
				</f:case>
			</f:switch>
		</f:if>

</div>