@import "Elements/Cards";
@import "Elements/Grid";
@import "Elements/Header";
@import "Elements/Colours";
@import "Elements/ImageSlider";


.navbar-brand img {
  width : 100%;
}

.navbar .navbar-brand {
  max-width: 100px;
}

.footer .footer-nav ul {
  list-style: none;
  font-weight: 400;
}

.footer .footer-nav ul > li {
  display: inline-block;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}

.footer .footer-nav>ul a:not(.btn) {
  color: #777;
  display: block;
  margin-bottom: 3px;
  line-height: 1.6;
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}