@media screen and (max-width: 960px) {
  #header header .container {
    min-height: auto;
  }
  #header header .logo {
    position: inherit;
    top: inherit;
    transform: none;
  }
  #header header .logo > * {
    display: inline-block;
  }
  #header header #rwd-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
  #header header #rwd-toggle i {
    font-size: 3em;
  }
  #header header #rwd-toggle + a {
    margin-left: 50px;
  }
  #header #navigation {
    margin-bottom: 30px;
    display: none;
    transition: all 0.2s;
  }
  #header #navigation.showNav {
    display: block;
    transition: all 0.2s;
  }
  #header #navigation .mainnav > li {
    display: block;
  }
  #header #navigation .mainnav > li:first-child {
    padding-top: 20px;
  }
  #header #navigation .mainnav > li .sub {
    position: inherit;
    top: inherit;
    left: inherit;
    margin-right: 0;
    margin-left: -10px;
  }
  #header #navigation .mainnav > li .sub ul > li {
    display: block;
  }
  .box {
    margin-bottom: 30px;
  }
  .videoElement iframe {
    height: 250px;
  }
  html body .ce-gallery .ce-column:last-child .image {
    text-align: left;
  }
  html body .ce-gallery .ce-column {
    display: block;
    width: 100%;
  }
  html body .table tr {
    display: block;
  }
  html body .table tr > th,
  html body .table tr td {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer .navigation .mainnav > li {
    display: block;
    padding-left: 10px;
  }
}
