@media screen and (max-width: 960px) {

  #header {

    header {
      .container {
        min-height: auto;
      }
      .logo {
        position : inherit;
        top : inherit;
        transform: none;
        > * {
          display: inline-block;
        }
      }
        #rwd-toggle {
          position : absolute;
          width : 40px;
          height : 40px;
          top : 50%;
          transform: translateY(-50%);
          i {
            font-size: 3em;
          }
          + a {
            margin-left : 50px;
          }
        }
    }

    #navigation {
      margin-bottom : 30px;
      display: none;
      transition: all .2s;
      &.showNav {
        display: block;
        transition: all .2s;
      }
      .mainnav {
        > li {
          display: block;
          &:first-child {
            padding-top : 20px;
          }
          .sub {
            position : inherit;
            top : inherit;
            left: inherit;
            margin-right : 0;
            margin-left : -10px;
            ul {
              > li {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .box {
    margin-bottom : 30px;
  }

  .videoElement {
    iframe {
      height : 250px;
    }
  }

  html {
    body {
      .ce-gallery .ce-column:last-child .image {
        text-align: left;
      }
      .ce-gallery .ce-column {
        display: block;
        width : 100%;
      }
      .table {
        tr {
          display : block;
          > th, td {
            display: block;
            width : 100%;
            text-align: center;
          }
        }
      }
    }
  }

  footer .navigation .mainnav > li {
    display: block;
    padding-left : 10px;
  }

}