{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:page.header.meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" />
<v:page.header.link rel="shortcut icon" additionalAttributes="{href: '/favicon.ico'}" type="image/x-icon" />
<v:page.header.link rel="shortcut icon" additionalAttributes="{href: '/favicon.png'}" type="image/png" />

<v:asset.style path="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rewrite="0"  standalone="1" external="1" />
<v:asset.style path="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rewrite="0"  standalone="1" external="1" />

<v:asset.style path="EXT:tpl_nedofree/Resources/Public/CSS/Lib/bootstrap.min.css" rewrite="0"  standalone="1"/>
<v:asset.style path="EXT:tpl_nedofree/Resources/Public/CSS/Lib/paper-kit.css" rewrite="0"  standalone="1"/>
<v:asset.style path="EXT:tpl_nedofree/Resources/Public/CSS/Lib/all.css" rewrite="0"  standalone="1"/>
<v:asset.style path="EXT:tpl_nedofree/Resources/Public/CSS/RWD.css" rewrite="0" />
<v:asset.style path="EXT:tpl_nedofree/Resources/Public/LESS/all.css" rewrite="0" />
<v:asset.style path="EXT:tpl_nedofree/Resources/Public/JS/owl/owl.carousel.min.css" rewrite="0" />

<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/core/jquery.min.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/core/popper.min.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/core/bootstrap.min.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/plugins/bootstrap-switch.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/plugins/nouislider.min.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/plugins/moment.min.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/plugins/bootstrap-tagsinput.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/plugins/bootstrap-selectpicker.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/plugins/bootstrap-datetimepicker.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/owl/owl.carousel.min.js" standalone="1" rewrite="0" />
<v:asset.script path="EXT:tpl_nedofree/Resources/Public/JS/custom.js" standalone="1" rewrite="0" />

