<footer class="footer footer-black  footer-white ">
	<div class="container">
		<div class="row">
			<v:page.menu pageUid="{footerPid}">
				<div class="footer-nav">
					<v:tag name="ul">
						<f:for each="{menu}" as="item">
							<v:tag name="li">
								<v:page.link pageUid="{item.uid}"/>
								<f:if condition="{item.hasSubPages}">
									<div class="row sub">
										<v:page.menu pageUid="{item.uid}">
											<v:tag name="ul">
												<f:for each="{menu}" as="subitem">
													<v:tag name="li" class="{f:if(condition: subitem.active, then: 'active')}">
														<v:page.link pageUid="{subitem.uid}"/>
													</v:tag>
												</f:for>
											</v:tag>
										</v:page.menu>
									</div>
								</f:if>
							</v:tag>
						</f:for>
					</v:tag>
				</div>
				<div class="credits ml-auto">
          <span class="copyright">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="fa fa-heart heart"></i> by Christian Höfer & Frederik Drewes
          </span>
				</div>
			</v:page.menu>
		</div>
	</div>
	<div id="up">
		<div class="arrow"></div>
	</div>
</footer>