<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:nedo="Basic\TplBasic\ViewHelpers">
	<header>
		<div class="container">
			<div class="logo">
			</div>
			<div class="col-6">
				<div class="quickKontakt">
				</div>
			</div>
		</div>
	</header>
	<div class="container-fluid pr-0 pl-0">
		<f:render partial="Navigation"/>
	</div>
</div>