<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:nedo="Basic\TplNedofree\ViewHelpers">


	<f:if condition="{v:content.get(column:1) -> v:iterator.first()}">
		<f:then>
			<v:variable.set name="nav-absolute" value="navbar-absolute navbar-transparent" />
		</f:then>
		<f:else>
			<v:variable.set name="nav-absolute" value="nav-down color-white" />
		</f:else>
	</f:if>

	<nav class="navbar navbar-expand-lg {nav-absolute}" style="background-color: {nedo:color(field: 'navBackgroundColor')}">
		<div class="container">
			<div class="navbar-translate">
				<a class="navbar-brand" href="https://demos.creative-tim.com/paper-kit-2-pro/index.html" rel="tooltip" title="Paper Kit 2 PRO" data-placement="bottom" target="_blank">
					{nedo:logo()}
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-bar bar1"></span>
					<span class="navbar-toggler-bar bar2"></span>
					<span class="navbar-toggler-bar bar3"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
				<v:page.menu>
					<v:tag name="ul" class="navbar-nav ml-auto">
						<f:for each="{menu}" as="item">
							<v:tag name="li" class="{f:if(condition: item.active, then: 'active')} {f:if(condition: '{item.hasSubPages}', then: 'dropdown')} nav-item">
								<f:if condition="{item.hasSubPages}">
									<f:then>
										<a href="{f:uri.page(pageUid: item.uid)}" class="{f:if(condition: '{item.hasSubPages}', then: 'dropdown-toggle')} nav-link" data-toggle="dropdown" aria-expanded="false" style="color:{nedo:color(field: 'secondaryFontColor')} !important;">
											{item.title}
										</a>
										<v:page.menu pageUid="{item.uid}">
											<div class="dropdown-menu dropdown-menu-right dropdown-danger">
												<f:for each="{menu}" as="subitem">
													<a href="{f:uri.page(pageUid: subitem.uid)}" class="dropdown-item" style="color:{nedo:color(field: 'primaryFontColor')} !important;">
														{subitem.title}
													</a>
													<f:comment><f:link.typolink parameter="{subitem.uid}" class="dropdown-item" additionalAttributes="style:color: {nedo:color(field: 'primaryFontColor')}"´/></f:comment>
												</f:for>
											</div>
										</v:page.menu>
									</f:then>
									<f:else>
										<a href="{f:uri.page(pageUid: item.uid)}" class="nav-link" aria-expanded="false" style="color:{nedo:color(field: 'secondaryFontColor')} !important;">
											{item.title}
										</a>
									</f:else>
								</f:if>
							</v:tag>
						</f:for>
					</v:tag>
				</v:page.menu>
			</div>
		</div>
	</nav>
</div>