#header {
  width: 100%;
  z-index: 999;
}
#header header .container {
  min-height: 150px;
  height: 100%;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}
#header header .logo {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#header header .logo img {
  max-width: 150px;
  width: 100%;
  height: auto;
}
#header .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/**
  Navigation fixed at top
 */
#navigation {
  background-color: rgba(75, 76, 81, 0.7);
}
#navigation .mainnav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 20px;
}
#navigation .mainnav > li {
  display: inline-block;
  line-height: 60px;
  vertical-align: middle;
}
#navigation .mainnav > li:not(:last-child) {
  padding-right: 20px;
}
#navigation .mainnav > li a {
  font-size: 18px;
  color: #fff;
}
#navigation .mainnav > li:hover a {
  text-decoration: none;
}
#slider .owl-item .backgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  height: 315px;
  position: relative;
}
#slider .owl-item .backgroundImage a:first-child {
  width: 100%;
  height: 100%;
  display: block;
}
#slider .sliderBox {
  max-width: 29.78723404%;
  width: 100%;
  padding: 0.92307692em 0.76923077em 0.76923077em 1.07692308em;
  position: absolute;
  right: 0;
  bottom: 40px;
}
#slider .sliderBox a:hover {
  text-decoration: none;
}
#slider .sliderBox h2 {
  font-size: 1.38461538em;
  margin-bottom: 0.55555556em;
  display: inline-block;
}
#slider .sliderBox p {
  font-size: 0.8125em;
  color: #000;
}
#slider .sliderBox .more {
  float: right;
}
#slider .primaryHeader {
  display: inline;
  padding: 0 0.41666667em 0.08333333em;
  position: absolute;
  left: 0;
  bottom: 80px;
  font-size: 2.76923077em;
  font-weight: 400;
}
#slider .primaryHeader::after {
  content: '';
  display: block;
  clear: both;
}
#slider .secondaryHeader {
  display: inline;
  padding: 0 0.83333333em 0.16666667em;
  position: absolute;
  left: 0;
  bottom: 40px;
  font-size: 1.38461538em;
}
#slider .owl-nav {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
}
#slider .owl-nav .owl-next,
#slider .owl-nav .owl-prev {
  color: #4b4c51;
}
#slider .owl-nav .owl-next span,
#slider .owl-nav .owl-prev span {
  font-size: 20px;
}
#slider .owl-nav .owl-prev {
  margin-left: 5px;
}
#slider .owl-nav .owl-next {
  margin-left: 40px;
}
#slider .owl-nav .owl-next i {
  padding-right: 5px;
}
#slider .owl-nav .owl-next span {
  padding-right: 5px;
}
#counter {
  position: absolute;
  top: 19px;
  z-index: 999;
  left: 58px;
}
.box {
  border: 1px solid #ccc;
  min-height: 0.07692308em;
  overflow: hidden;
  background-color: #fff;
  user-select: none;
  -webkit-user-drag: none;
  padding-bottom: 15px;
}
.box.fullSizeImageBox {
  padding-bottom: 0;
}
.box .title {
  margin-bottom: 0.22222222em;
  padding: 0.44444444em 0 0 0.355556em;
  background: transparent none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.38461538em;
  line-height: 1.23076923em;
  font-family: "Segoe UI", Arial, sans-serif;
}
.box #content {
  width: 100%;
  margin-left: 0.55555556em;
}
.box #content.fullSizeImage {
  margin-left: 0;
}
.box #content.fullSizeImage .textRight {
  max-width: 150px;
  width: 100%;
  float: right;
}
.box #content .boxBackgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 130px;
  height: auto;
}
.box #content .boxBackgroundImage .textRight {
  width: 100%;
  height: 100%;
}
.box #content .boxBackgroundImage .textRight .link {
  margin-right: 10px;
  padding-bottom: 10px;
}
.box #content .image {
  float: left;
}
.box #content .text {
  float: left;
  width: 58%;
  margin-right: 15px;
  margin-left: 10px;
}
.box #content .text p {
  font-size: 0.8125em;
}
.box .link {
  text-align: right;
}
.form-group input.form-control {
  border-radius: 0;
}
.actions {
  position: relative;
}
.form-navigation {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.submit .btn {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  background-color: #4b4c51;
  padding: 13px 30px;
  border: none;
  color: #fff;
}
textarea.form-control {
  min-height: 300px;
  height: 100%;
}
.form-check {
  padding-left: 0;
  margin-bottom: 30px;
}
.form-check input[type=checkbox] {
  margin-right: 15px;
}
button,
.btn {
  border-radius: 0;
  color: #000;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #fff;
  padding: 0 0.4375em;
}
.btn-cta {
  border-color: #f60;
  color: #fff;
  background-color: #f60;
  background-image: none;
}
.more {
  min-height: 1.6875em;
}
.more:hover {
  color: #fff;
  text-decoration: underline;
}
.more .fa {
  font-size: 12px;
  margin-left: 5px;
}
.more-info {
  background-color: #0066b3;
}
.more-info i {
  color: #fff;
}
#banner {
  background-size: cover !important;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.videoElement iframe {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.customLinksUl {
  list-style: none;
  padding-left: 0;
}
.customLinksUl > li i {
  margin-right: 5px;
}
.table .heading th {
  background-color: #000;
  color: #fff;
}
.grid-with-image .text-center {
  max-width: 80%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.grid-with-image .text-center p {
  margin-bottom: 0;
}
.grid-with-image p {
  margin-bottom: 0;
}
.w-730 {
  max-width: 730px;
  width: 100%;
  margin: 0 auto;
}
.w-730 .col-md-3 {
  padding-left: 0;
}
.w-730 .col-md-12 header h2 {
  padding: 20px 0;
}
.w-730 .col-md-12 header h3 {
  padding: 20px 0;
  font-size: 18px;
  font-style: italic;
  text-align: center;
  font-weight: 300;
  font-family: Catamaran, sans-serif;
}
.col-md-3 header h2 {
  color: #4b4c51;
  font-size: 1.5rem;
}
.col-md-9 header h2 {
  font-family: 'News Cycle', sans-serif;
  font-size: 24px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b4c51;
}
.bgSecondary {
  background-color: #4b4c51;
}
.bgSecondary h1,
.bgSecondary h2,
.bgSecondary h3,
.bgSecondary h4,
.bgSecondary h5,
.bgSecondary h6 {
  color: #fff;
}
.bgWhiteRGBA {
  background-color: rgba(255, 255, 255, 0.8);
}
.bgPrimaryRGBA {
  background-color: rgba(0, 0, 0, 0.8);
}
.bgSekundaryRGBA {
  background-color: rgba(75, 76, 81, 0.8);
}
.bgBlackRGBA {
  background-color: rgba(0, 0, 0, 0.8);
}
.bgWhite {
  background-color: #fff;
}
.bgPrimary {
  background-color: #000;
}
.bgSekundary {
  background-color: #4b4c51;
}
.bgBlack {
  background-color: #000;
}
html body main .colorWhite {
  color: #fff;
}
html body main .colorWhite h1,
html body main .colorWhite h2,
html body main .colorWhite h3,
html body main .colorWhite h4,
html body main .colorWhite h5,
html body main .colorWhite h6 {
  color: #fff;
}
.colorPrimary {
  color: #000;
}
.colorPrimary a {
  color: #000;
}
.colorPrimary a:hover {
  color: #000;
}
.colorSecondary {
  color: #4b4c51;
}
.colorSecondary a {
  color: #4b4c51;
}
.colorSecondary a:hover {
  color: #4b4c51;
}
.colorWhite p {
  color: #fff;
}
/* news-cycle-regular - latin */
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 400;
  src: url('../Fonts/news-cycle-v14-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('News Cycle'), local('NewsCycle'), url('../Fonts/news-cycle-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/news-cycle-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/news-cycle-v14-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../Fonts/news-cycle-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/news-cycle-v14-latin-regular.svg#NewsCycle') format('svg');
  /* Legacy iOS */
}
/* news-cycle-700 - latin */
@font-face {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: 700;
  src: url('../Fonts/news-cycle-v14-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('News Cycle Bold'), local('NewsCycle-Bold'), url('../Fonts/news-cycle-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/news-cycle-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/news-cycle-v14-latin-700.woff') format('woff'), /* Modern Browsers */ url('../Fonts/news-cycle-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/news-cycle-v14-latin-700.svg#NewsCycle') format('svg');
  /* Legacy iOS */
}
/* catamaran-100 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 100;
  src: url('../Fonts/catamaran-v4-latin-100.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran Thin'), local('Catamaran-Thin'), url('../Fonts/catamaran-v4-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-100.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-100.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-100.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
/* catamaran-200 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: url('../Fonts/catamaran-v4-latin-200.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url('../Fonts/catamaran-v4-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-200.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-200.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-200.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
/* catamaran-300 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  src: url('../Fonts/catamaran-v4-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran Light'), local('Catamaran-Light'), url('../Fonts/catamaran-v4-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-300.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-300.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
/* catamaran-regular - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: url('../Fonts/catamaran-v4-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url('../Fonts/catamaran-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-regular.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
/* catamaran-500 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  src: url('../Fonts/catamaran-v4-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran Medium'), local('Catamaran-Medium'), url('../Fonts/catamaran-v4-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-500.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-500.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
/* catamaran-600 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  src: url('../Fonts/catamaran-v4-latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url('../Fonts/catamaran-v4-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-600.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-600.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
/* catamaran-700 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: url('../Fonts/catamaran-v4-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url('../Fonts/catamaran-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-700.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-700.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
/* catamaran-800 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: url('../Fonts/catamaran-v4-latin-800.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url('../Fonts/catamaran-v4-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-800.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-800.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-800.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
/* catamaran-900 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 900;
  src: url('../Fonts/catamaran-v4-latin-900.eot');
  /* IE9 Compat Modes */
  src: local('Catamaran Black'), local('Catamaran-Black'), url('../Fonts/catamaran-v4-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../Fonts/catamaran-v4-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../Fonts/catamaran-v4-latin-900.woff') format('woff'), /* Modern Browsers */ url('../Fonts/catamaran-v4-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('../Fonts/catamaran-v4-latin-900.svg#Catamaran') format('svg');
  /* Legacy iOS */
}
html body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
}
html body strong {
  font-weight: 700;
  color: #323335;
}
html body h1,
html body h2,
html body h3,
html body h4,
html body h5,
html body h6 {
  font-family: 'News Cycle', sans-serif;
  font-weight: 700;
}
html body h1 {
  font-size: 48px;
}
html body h2 {
  font-size: 36px;
}
html body h3 {
  font-size: 24px;
}
.p-14 {
  font-size: 14px;
}
.p-15 {
  font-size: 15px;
}
.p-16 {
  font-size: 16px;
}
.p-18 {
  font-size: 18px;
}
.p-20 {
  font-size: 20px;
}
.p-22 {
  font-size: 22px;
}
.p-26 {
  font-size: 26px;
}
.p-35 {
  font-size: 35px;
}
.p-50 {
  font-size: 50px;
}
h2.ce-headline-center {
  text-align: center;
}
footer {
  width: 100%;
}
footer .navigation {
  background-color: #4b4c51;
}
footer .navigation .mainnav {
  padding-left: 0;
  padding-top: 0.76923077em;
  padding-bottom: 0.84615385em;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
footer .navigation .mainnav > li {
  display: inline-block;
}
footer .navigation .mainnav > li a {
  color: #fff;
}
.footerIcons .icons {
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.footerIcons .icons > li {
  display: inline-block;
}
#up {
  width: 60px;
  height: 60px;
  background-color: #ccc;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  display: none;
  z-index: 999;
}
#up:hover {
  cursor: pointer;
}
#up:hover .arrow {
  border-color: #4b4c51;
  transition: all 0.5s;
}
#up .arrow {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) rotate(-136deg);
}
@media screen and (max-width: 960px) {
  #header header .container {
    min-height: auto;
  }
  #header header .logo {
    position: inherit;
    top: inherit;
    transform: none;
  }
  #header header .logo > * {
    display: inline-block;
  }
  #header header #rwd-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
  #header header #rwd-toggle i {
    font-size: 3em;
  }
  #header header #rwd-toggle + a {
    margin-left: 50px;
  }
  #header #navigation {
    margin-bottom: 30px;
    display: none;
    transition: all 0.2s;
  }
  #header #navigation.showNav {
    display: block;
    transition: all 0.2s;
  }
  #header #navigation .mainnav > li {
    display: block;
  }
  #header #navigation .mainnav > li:first-child {
    padding-top: 20px;
  }
  #header #navigation .mainnav > li .sub {
    position: inherit;
    top: inherit;
    left: inherit;
    margin-right: 0;
    margin-left: -10px;
  }
  #header #navigation .mainnav > li .sub ul > li {
    display: block;
  }
  .box {
    margin-bottom: 30px;
  }
  .videoElement iframe {
    height: 250px;
  }
  html body .ce-gallery .ce-column:last-child .image {
    text-align: left;
  }
  html body .ce-gallery .ce-column {
    display: block;
    width: 100%;
  }
  html body .table tr {
    display: block;
  }
  html body .table tr > th,
  html body .table tr td {
    display: block;
    width: 100%;
    text-align: center;
  }
  footer .navigation .mainnav > li {
    display: block;
    padding-left: 10px;
  }
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.banner-area .col-12 > div:first-child {
  position: relative;
}
.banner-area .col-12 > div:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.banner-area .col-12 > div:last-child h1,
.banner-area .col-12 > div:last-child h2,
.banner-area .col-12 > div:last-child h3 {
  color: #fff;
  text-align: center;
}
.banner-area .col-12 > div:last-child h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
.banner-area .col-12 > div:last-child h3 {
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
}
.ce-gallery .ce-column img {
  width: 100%;
  height: auto;
}
#rwd-toggle {
  display: none;
}
#sidebarContent > div {
  margin-bottom: 1.30769231em;
  border: 1px solid #ccc;
  border-top-width: 0.53846154em;
  background-color: #fff;
}
#sidebarContent > div h4 {
  margin-bottom: 0.38888889em;
  padding: 0.55555556em 0 0 1.11111111em;
  font-size: 1.38461538em;
  line-height: 120%;
}
#sidebarContent > div #contact {
  margin-bottom: 0.71538462em;
  line-height: 1.30730769em;
  padding-left: 1.53846154em;
  padding-right: 1.53846154em;
}
#sidebarContent > div #contact a {
  font-weight: 600;
  color: #0066b3;
}
#sidebarContent > div #contact .contactLink {
  margin-top: 0.71538462em;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 0.8125em;
}
body .main.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
body .ce-gallery.gallery .ce-row > .ce-column {
  display: inline-block;
}
body .ce-gallery.gallery .ce-row .ce-column:first-child:nth-last-child(4),
body .ce-gallery.gallery .ce-row .ce-column:first-child:nth-last-child(4) ~ .ce-column {
  width: 25%;
}
body .ce-gallery.gallery.gallery-4 {
  margin-left: -10px;
  margin-right: -10px;
}
body .ce-gallery.gallery.gallery-4 .ce-row > .ce-column {
  padding-right: 10px;
  padding-left: 10px;
}
body .row {
  height: 100%;
  min-height: 100%;
  display: flex;
}
body .row .col-md-6.vertical-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}
body .w-1440 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
body .row.section {
  margin-bottom: 30px;
}
.arrow {
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transition: all 0.5s;
}
