<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="banner" options="{group: 'Slider'}">
			<flux:form.sheet name="optionImage" label="Banner Einstellungen">
				<flux:field.inline.fal name="settings.bannerImage" allowedExtensions="jpg,png,gif,svg" label="{title}" maxItems="1"/>
				<flux:field.checkbox name="settings.filter" label="Mit Filter Effekt?"/>
				<flux:field.checkbox name="settings.isParallax" label="Mit Parallax Effekt?"/>
				<flux:field.checkbox name="settings.withText" label="Text im Banner?"/>
				<f:if condition="{settings.withText} == 1">
					<flux:grid>
						<flux:grid.row>
							<flux:grid.column colPos="81" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Text im Banner"/>
						</flux:grid.row>
					</flux:grid>
				</f:if>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<f:if condition="{settings.bannerImage}">
			<f:then>
				<f:for each="{v:content.resources.fal(field: 'settings.bannerImage', uid: '{record.uid}')}" as="image" iteration="iterator">
					<f:image src="{image.url}" treatIdAsReference="1" width="500"/>
				</f:for>
			</f:then>
		</f:if>
		<div style="content: ''; clear: both; display: block;"></div>
	</f:section>

	<f:section name="Main">
		{v:content.resources.fal(field: 'settings.bannerImage') -> v:iterator.last() -> v:variable.set(name: 'imageFal')}
		<f:if condition="{settings.isParallax} == 1">
			<f:then>
				<div class="page-header" data-parallax="true" style="background-image: url('/{imageFal.url}');">
					<f:if condition="{settings.withText} == 1">
						<f:then>
							<f:if condition="{settings.filter}">
								<div class="filter"></div>
							</f:if>
							<div class="content-center">
								<div class="container">
									<div class="motto">
										<flux:content.render area="column1" />
									</div>
								</div>
							</div>
						</f:then>
					</f:if>
				</div>
			</f:then>
			<f:else>
				<div class="page-header" data-parallax="false" style="background-image: url('/{imageFal.url}');">
					<f:if condition="{settings.withText} == 1">
						<f:then>
							<f:if condition="{settings.filter}">
								<div class="filter"></div>
							</f:if>
							<div class="content-center">
								<div class="container">
									<div class="motto">
										<flux:content.render area="column1" />
									</div>
								</div>
							</div>
						</f:then>
					</f:if>
				</div>
			</f:else>
		</f:if>
	</f:section>
</div>
