<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="box" options="{group: 'Extra Elemente'}">
			<flux:form.option.icon value="EXT:tpl_nedo_free/Resources/Public/Icons/Content/box.png"/>
			<flux:form.sheet name="optionBox" label="Box Einstellungen">

			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		Box Element
	</f:section>

	<f:section name="Main">
		<div class="box {f:if(condition: '{settings.imageFullWidth}', then: 'fullSizeImageBox')}">
			<div class="title {settings.fontColor}">
				<f:link.typolink parameter="{settings.link}" class="">
					<f:format.raw>{settings.title}</f:format.raw>
				</f:link.typolink>
			</div>
			<div id="content" class="{f:if(condition: '{settings.imageFullWidth}', then: 'fullSizeImage')}">
				<f:if condition="{settings.imageFullWidth} == 1">
					<f:then>
						{v:content.resources.fal(field: 'settings.boxImage') -> v:iterator.last() -> v:variable.set(name: 'imageFal')}
						<div class="boxBackgroundImage" style="background-image: url('{imageFal.url}');">
							<div class="textRight">
								<f:format.raw>{settings.content}</f:format.raw>
								<div class="link">
									<f:link.typolink parameter="{settings.link}" class="btn more-info">
										<i class="fa fa-chevron-right"></i>
									</f:link.typolink>
								</div>
							</div>
						</div>
					</f:then>
					<f:else>
						<div class="image">
							{v:content.resources.fal(field: 'settings.boxImage') -> v:iterator.last() -> v:variable.set(name: 'imageFal')}
							<f:link.typolink parameter="{settings.link}" class="">
								<f:image src="{imageFal.url}"/>
							</f:link.typolink>
						</div>
						<div class="text">
							<f:format.raw>{settings.content}</f:format.raw>
							<div class="link">
								<f:link.typolink parameter="{settings.link}" class="btn more-info">
									<i class="fa fa-chevron-right"></i>
								</f:link.typolink>
							</div>
						</div>
					</f:else>
				</f:if>
			</div>
		</div>
	</f:section>
</div>
