<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="button" options="{group: 'Speziale Elemente'}">
			<flux:form.sheet name="optionButton" label="Button Link">
				<flux:field.input name="settings.linkText" label="Button Text"/>
				<flux:field.input name="settings.link" label="{title}">
					<flux:wizard.link/>
				</flux:field.input>
			</flux:form.sheet>
			<flux:form.sheet name="optionButtonEinstellung" label="Styling">
				<flux:field.select name="settings.buttonSize" label="Button Größe" items="{
					0: {0: 'keine', 1: ''},
					1: {0: 'Klein', 1: 'btn-sm'},
					2: {0: 'Mittel', 1: ''},
					3: {0: 'Groß', 1: 'btn-lg'}}">
				</flux:field.select>
				<flux:field.select name="settings.buttonStyle" label="Button Style" items="{
					0: {0: 'Standard', 1: ''},
					1: {0: 'Rund', 1: 'btn-round'},
					2: {0: 'Nur Icon', 1: 'btn-just-icon'},
					3: {0: 'Simpel', 1: 'btn-link'}}">
				</flux:field.select>
				<f:render partial="Dropdowns/colour" />
				<flux:field.checkbox name="settings.outline" label="Button Outline?"/>
				<flux:field.checkbox name="settings.tooltip" label="Tooltip?" requestUpdate="true" />
				<flux:field.input name="settings.toolTiptitle" label="Tooltip Titel" displayCond="FIELD:settings.tooltip:=:1" />
				<flux:field.select name="settings.toolTipAlign" label="Tooltip Ausrichtung" displayCond="FIELD:settings.tooltip:=:1" items="{
					0: {0: 'keine', 1: 'top'},
					1: {0: 'Oben', 1: 'top'},
					2: {0: 'Unten', 1: 'bottom'},
					3: {0: 'Links', 1: 'left'},
					4: {0: 'Rechts', 1: 'right'}}">
				</flux:field.select>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<div class="btn {settings.buttonSize} {settings.buttonStyle} {buttonColor}">
			{settings.linkText}
		</div>
	</f:section>

	<f:section name="Main">

		<f:if condition="{settings.outline} == 1">
			<f:then>
				<v:variable.set name="buttonColor" value="btn-outline-{settings.color}"/>
			</f:then>
			<f:else>
				<v:variable.set name="buttonColor" value="btn-{settings.color}"/>
			</f:else>
		</f:if>
		<a href="{settings.link}" class="btn {settings.buttonSize} {settings.buttonStyle} {buttonColor}" data-toggle="tooltip" data-placement="{settings.toolTipAlign}" title="{settings.toolTiptitle}">{settings.linkText}</a>
	</f:section>
</div>
