<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="card" options="{group: 'Speziale Elemente'}">
			<flux:form.sheet name="optionCardDefault" label="Verhalten">
				<flux:field.select name="settings.behavior" label="Card Style" requestUpdate="1" items="{
					0: {0: 'Default', 1: 'default'},
					1: {0: 'Image', 1: 'image'}}">
				</flux:field.select>
				<flux:field.select name="settings.align" label="Ausrichtung" items="{
					0: {0: 'Links', 1: ''},
					1: {0: 'Mitte', 1: 'text-center'},
					2: {0: 'Rechts', 1: 'text-right'}}">
				</flux:field.select>
				<flux:field.select name="settings.shadow" label="Schatten" items="{
					0: {0: 'Nein', 1: '0'},
					1: {0: 'Ja', 1: '1'}}">
				</flux:field.select>
			</flux:form.sheet>
			<f:if condition="{settings.behavior} == 'default' || {settings.behavior} == 'image'">
				<flux:form.sheet name="optionCardSettings" label="Card-Einstellungen">
					<flux:field.input name="settings.headline" label="Headline"/>
					<flux:field.input name="settings.subtitle" label="Subline"/>
					<flux:field.text name="settings.content" label="Inhalt" enableRichText="1"/>
					<flux:field.input name="settings.linkText" label="Link Text"/>
					<flux:field.input name="settings.link" label="Link">
						<flux:wizard.link/>
					</flux:field.input>
					<flux:field.select name="settings.linkBehavior" label="Link verhalten" items="{
					0: {0: 'Standard', 1: '-'},
					1: {0: 'Rund', 1: 'round'},
					2: {0: 'Button', 1: 'btn'}}">
					</flux:field.select>
				</flux:form.sheet>
			</f:if>
			<f:if condition="{settings.behavior} == 'image'">
				<flux:form.sheet name="optionCardImage" label="Bildeinstellungen">
					<flux:field.select name="settings.imageBehavior" label="Bildverhalten" items="{
					0: {0: 'Header', 1: 'headerimage'},
					1: {0: 'Overlay', 1: 'overlay'},
					2: {0: 'Footer', 1: 'footer'}}">
					</flux:field.select>
					<flux:field.inline.fal name="settings.image" allowedExtensions="jpg,png,gif,svg" label="Bild" maxItems="1"/>
				</flux:form.sheet>
			</f:if>
		</flux:form>ˆ
	</f:section>

	<f:section name="Preview">
		<h3>Card</h3>
		<p>{settings.subtitle -> f:format.raw()}</p>
		<p>{settings.headline -> f:format.raw()}</p>
		<p>{settings.content -> f:format.raw()}</p>
	</f:section>

	<f:section name="Main">
		<f:if condition="{settings.shadow} == 1">
			<div class="card-big-shadow">
		</f:if>
		<div class="card {settings.align} {f:if(condition: '{settings.imageBehavior} == \'overlay\'', then: 'text-white')} ">
			<div class="content">
				<f:switch expression="{settings.behavior}">
					<f:case value="image">
						{v:content.resources.fal(field: 'settings.image') -> v:iterator.last() -> v:variable.set(name: 'imageFal')}
						<f:switch expression="{settings.imageBehavior}">
							<f:case value="headerimage">
								<img class="card-img-top" src="{imageFal.url}" alt="Card image cap">
								<div class="card-body">
									<f:render partial="Cards/Default" />
								</div>
							</f:case>
							<f:case value="overlay">
								<img class="card-img" src="{imageFal.url}" alt="Card image cap">
								<div class="card-img-overlay">
									<f:render partial="Cards/Default" />
								</div>
							</f:case>
							<f:case value="footer">
								<div class="card-body">
									<f:render partial="Cards/Default" />
								</div>
								<img class="card-img-bottom" src="{imageFal.url}" alt="Card image cap">
							</f:case>
						</f:switch>
					</f:case>
					<f:case value="default">
						<div class="card-body">
							<f:render partial="Cards/Default" />
						</div>
					</f:case>
				</f:switch>
			</div>
		</div>
		<f:if condition="{settings.shadow} == 1">
			</div>
		</f:if>
	</f:section>
</div>
