<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="grid" options="{group: 'Extra Elemente'}">
			<flux:form.option.icon value="EXT:tpl_nedo_free/Resources/Public/Icons/Content/grid.png"/>
			<flux:form.sheet name="gridOptions" label="Grid Einstellungen">
				<flux:field.select name="settings.gridSize" default="grid-1" label="Anzahl Spalten" requestUpdate="true" items="{
					0: {0: '1 Grid', 1: 'grid-1'},
					1: {0: '2 Grid', 1: 'grid-2'},
					2: {0: '3 Grid', 1: 'grid-3'},
					3: {0: '4 Grid', 1: 'grid-4'},
					4: {0: '5 Grid', 1: 'grid-5'},
					5: {0: '6 Grid', 1: 'grid-6'},
					6: {0: '7 Grid', 1: 'grid-7'},
					7: {0: '8 Grid', 1: 'grid-8'},
					8: {0: '9 Grid', 1: 'grid-9'},
					9: {0: '10 Grid', 1: 'grid-10'},
					10: {0: '11 Grid', 1: 'grid-11'},
					11: {0: '12 Grid', 1: 'grid-11'},
					12: {0: '1/3 & 2/3 Grid', 1: 'grid-1-2'},
					13: {0: '1/4 & 3/4 Grid', 1: 'grid-1-4'}}">
				</flux:field.select>

				<flux:grid>
					<f:switch expression="{settings.gridSize}">
						<f:case value="grid-1">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-2">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-3">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-4">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="53" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-5">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="53" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="54" name="column5" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-6">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="53" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="54" name="column5" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="55" name="column6" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-7">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="53" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="54" name="column5" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="55" name="column6" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="56" name="column7" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-8">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="53" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="54" name="column5" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="55" name="column6" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="56" name="column7" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="57" name="column8" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-9">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="53" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="54" name="column5" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="55" name="column6" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="56" name="column7" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="57" name="column8" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="58" name="column9" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-10">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column5" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column6" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column7" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column8" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column9" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column10" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-11">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="53" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="54" name="column5" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="55" name="column6" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="56" name="column7" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="57" name="column8" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="58" name="column9" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="59" name="column10" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="60" name="column11" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-12">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="51" name="column2" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="52" name="column3" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="53" name="column4" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="54" name="column5" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="55" name="column6" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="56" name="column7" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="57" name="column8" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="58" name="column9" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="59" name="column10" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="60" name="column11" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
								<flux:grid.column colPos="61" name="column12" style="width:50%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-1-2">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:30%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1/3"/>
								<flux:grid.column colPos="51" name="column2" style="width:70%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 2/3"/>
							</flux:grid.row>
						</f:case>
						<f:case value="grid-1-4">
							<flux:grid.row>
								<flux:grid.column colPos="50" name="column1" style="width:20%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 1/4"/>
								<flux:grid.column colPos="51" name="column2" style="width:80%;height:100%;border-right:1px dashed #cacaca ;" label="Spalte 3/4"/>
							</flux:grid.row>
						</f:case>
					</f:switch>
				</flux:grid>

			</flux:form.sheet>

			<flux:form.sheet name="optionGrid" label="Grid Einstellungen">
				<flux:field.select name="settings.orientation" displayCond="FIELD:gridOptions.settings.gridSize:=:grid-1-2" default="small-left" required="1" label="Ausrichtung" items="{
							0: {0: 'bitte wählen', 1: ''},
							1: {0: '1/3 links & 2/3 rechts', 1: 'small-right'},
							2: {0: '1/3 rechts & 2/3 links', 1: 'small-left'}}">
				</flux:field.select>

				<flux:field.select name="settings.orientation" displayCond="FIELD:gridOptions.settings.gridSize:=:grid-1-4" default="small-left" required="1" label="Ausrichtung" items="{
							0: {0: 'Bitte wählen', 1: ''},
							1: {0: '1/4 links & 3/4 rechts', 1: 'small-right'},
							2: {0: '1/4 rechts & 3/4 links', 1: 'small-left'}}">
				</flux:field.select>

				<flux:field.select name="settings.fullwidth" label="Breite" items="{
							0: {0: 'Bitte wählen', 1: ''},
							1: {0: 'Volle Breite', 1: 'container-fluid pr-0 pl-0'},
							2: {0: 'Keine Volle Breite', 1: 'container'}}">
				</flux:field.select>

				<flux:field.inline.fal name="settings.backgroundImage" allowedExtensions="jpg,png,gif,svg" label="Hintergrundbild" maxItems="1" />

				<flux:field.checkbox name="settings.parallax" label="Parallax Effekt?" />

				<flux:field.input name="settings.backgroundColor" label="Hintergrund Farbe auswählen">
					<flux:wizard.colorPicker hideParent="1" dim="'20x20'" width="123" height="123" exampleImg="'EXT:flux/Resources/Public/Icons/ColorWheel.png'">
						<!-- tag content - may be ignored! -->
					</flux:wizard.colorPicker>
				</flux:field.input>

				<flux:field.input name="settings.paddingTop" label="Innenabstand in Pixel (oben)" />
				<flux:field.input name="settings.paddingBottom" label="Innenabstand in Pixel (unten)" />

				<flux:field.input name="settings.marginTop" label="Außenabstand in Pixel (oben)" />
				<flux:field.input name="settings.marginBottom" label="Außenabstand in Pixel (unten)" />

			</flux:form.sheet>

		</flux:form>
	</f:section>

	<f:section name="Preview">
			<f:switch expression="{settings.columnColor}">
				<f:case value="bgPrimary-2">
					<v:variable.set name="backgroundcolor" value="#0066b3"/>
				</f:case>
				<f:case value="bgSecondary">
					<v:variable.set name="backgroundcolor" value="#4b4c51"/>
				</f:case>
				<f:case value="bgWhite-2">
					<v:variable.set name="backgroundcolor" value="#fff"/>
				</f:case>
				<f:case value="bgBlack-2">
					<v:variable.set name="backgroundcolor" value="#000"/>
				</f:case>
				<f:case value="bgLightGray-2">
					<v:variable.set name="backgroundcolor" value="#5A5A5A"/>
				</f:case>
				<f:case value="bgWhiteRGBA-2">
					<v:variable.set name="backgroundcolor" value="rgba(255,255,255,0.8)"/>
				</f:case>
				<f:case value="bgBlackRGBA-2">
					<v:variable.set name="backgroundcolor" value="rgba(0,0,0,0.8)"/>
				</f:case>
				<f:case value="bgPrimaryRGBA-2">
					<v:variable.set name="backgroundcolor" value="rgba(0,102,179,0.8)"/>
				</f:case>
				<f:case value="bgSecondaryRGBA-2">
					<v:variable.set name="backgroundcolor" value="rgba(255,102,0,0.8)"/>
				</f:case>
			</f:switch>
			<f:switch expression="{settings.gridAdjust}">
				<f:case value="grid-1">
					<div>
						<div class="left" style="width:50%; float: left;">
							<p>1 Grid</p>
						</div>
						<div class="right" style="width:50%; float: left;">
							<f:if condition="{settings.hasBackgroundImage} == 0">
								<f:then>
									<div class="color {settings.columnColor}" style="width: 20px;height:20px;border-radius:50%;: {backgroundcolor}; float:right;"></div>
									<div style="clear: both; content: ''; display: block;"></div>
								</f:then>
								<f:else>
									<div style="float: right;">
										<f:for each="{v:content.resources.fal(field: 'settings.backgroundImage', uid: '{record.uid}')}" as="image" iteration="iterator">
											<f:image src="{image.url}" width="20px" height="20px" treatIdAsReference="1" style="border-radius:50%; object-fit:cover;"/>
										</f:for>
									</div>
								</f:else>
							</f:if>
						</div>
					</div>
				</f:case>
				<f:case value="grid-2">
					<div>
						<div class="left" style="width:50%; float: left;">
							<p>2 Grid</p>
						</div>
						<div class="right" style="width:50%; float: left;">
							<f:if condition="{settings.hasBackgroundImage} == 0">
								<f:then>
									<div class="color {settings.columnColor}" style="width: 20px;height:20px;border-radius:50%;: {backgroundcolor}; float:right;"></div>
									<div style="clear: both; content: ''; display: block;"></div>
								</f:then>
								<f:else>
									<div style="float: right;">
										<f:for each="{v:content.resources.fal(field: 'settings.backgroundImage', uid: '{record.uid}')}" as="image" iteration="iterator">
											<f:image src="{image.url}" width="20px" height="20px" treatIdAsReference="1" style="border-radius:50%; object-fit:cover;"/>
										</f:for>
									</div>
								</f:else>
							</f:if>
						</div>
					</div>
				</f:case>
				<f:case value="grid-3">
					<div>
						<div class="left" style="width:50%; float: left;">
							<p>3 Grid</p>
						</div>
						<div class="right" style="width:50%; float: left;">
							<f:if condition="{settings.hasBackgroundImage} == 0">
								<f:then>
									<div class="color {settings.columnColor}" style="width: 20px;height:20px;border-radius:50%;: {backgroundcolor}; float:right;"></div>
									<div style="clear: both; content: ''; display: block;"></div>
								</f:then>
								<f:else>
									<div style="float: right;">
										<f:for each="{v:content.resources.fal(field: 'settings.backgroundImage', uid: '{record.uid}')}" as="image" iteration="iterator">
											<f:image src="{image.url}" width="20px" height="20px" treatIdAsReference="1" style="border-radius:50%; object-fit:cover;"/>
										</f:for>
									</div>
								</f:else>
							</f:if>
						</div>
					</div>
				</f:case>
			</f:switch>
	</f:section>

	<f:section name="Main">

		<f:if condition="{settings.parallax} == 1">
			<v:variable.set name="parallax" value="background-attachment: fixed; background-position: center; background-repeat: no-repeat;" />
		</f:if>

		<f:if condition="{settings.paddingTop}">
			<v:variable.set name="paddingTop" value="padding-top: {settings.paddingTop};" />
		</f:if>

		<f:if condition="{settings.paddingBottom}">
			<v:variable.set name="paddingBottom" value="padding-bottom: {settings.paddingBottom};" />
		</f:if>

		<f:if condition="{settings.marginTop}">
			<v:variable.set name="marginTop" value="margin-top: {settings.marginTop};" />
		</f:if>

		<f:if condition="{settings.marginBottom}">
			<v:variable.set name="marginBottom" value="margin-bottom: {settings.marginBottom};" />
		</f:if>

		{v:content.resources.fal(field: 'settings.backgroundImage') -> v:iterator.last() -> v:variable.set(name: 'imageFal')}
		<f:switch expression="{settings.gridSize}">
			<f:case value="grid-1">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};" >
					<div class="row {f:if(condition: '{settings.backgroundImage}', then: 'grid-with-image')}" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col-md-12">
							<flux:content.render area="column1"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-2">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row section" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col-md-6">
							<flux:content.render area="column1"/>
						</div>
						<div class="col-md-6">
							<flux:content.render area="column2"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-3">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background: url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col-md-4 ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col-md-4 ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col-md-4 ">
							<flux:content.render area="column3"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-4">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col-md-3 ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col-md-3 ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col-md-3 ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col-md-3 ">
							<flux:content.render area="column4"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-5">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col ">
							<flux:content.render area="column4"/>
						</div>
						<div class="col ">
							<flux:content.render area="column5"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-6">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col ">
							<flux:content.render area="column4"/>
						</div>
						<div class="col ">
							<flux:content.render area="column5"/>
						</div>
						<div class="col ">
							<flux:content.render area="column6"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-7">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col ">
							<flux:content.render area="column4"/>
						</div>
						<div class="col ">
							<flux:content.render area="column5"/>
						</div>
						<div class="col ">
							<flux:content.render area="column6"/>
						</div>
						<div class="col ">
							<flux:content.render area="column7"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-8">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col ">
							<flux:content.render area="column4"/>
						</div>
						<div class="col ">
							<flux:content.render area="column5"/>
						</div>
						<div class="col ">
							<flux:content.render area="column6"/>
						</div>
						<div class="col ">
							<flux:content.render area="column7"/>
						</div>
						<div class="col ">
							<flux:content.render area="column8"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-9">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col ">
							<flux:content.render area="column4"/>
						</div>
						<div class="col ">
							<flux:content.render area="column5"/>
						</div>
						<div class="col ">
							<flux:content.render area="column6"/>
						</div>
						<div class="col ">
							<flux:content.render area="column7"/>
						</div>
						<div class="col ">
							<flux:content.render area="column8"/>
						</div>
						<div class="col ">
							<flux:content.render area="column9"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-10">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col ">
							<flux:content.render area="column4"/>
						</div>
						<div class="col ">
							<flux:content.render area="column5"/>
						</div>
						<div class="col ">
							<flux:content.render area="column6"/>
						</div>
						<div class="col ">
							<flux:content.render area="column7"/>
						</div>
						<div class="col ">
							<flux:content.render area="column8"/>
						</div>
						<div class="col ">
							<flux:content.render area="column9"/>
						</div>
						<div class="col ">
							<flux:content.render area="column10"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-11">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col ">
							<flux:content.render area="column4"/>
						</div>
						<div class="col ">
							<flux:content.render area="column5"/>
						</div>
						<div class="col ">
							<flux:content.render area="column6"/>
						</div>
						<div class="col ">
							<flux:content.render area="column7"/>
						</div>
						<div class="col ">
							<flux:content.render area="column8"/>
						</div>
						<div class="col ">
							<flux:content.render area="column9"/>
						</div>
						<div class="col ">
							<flux:content.render area="column10"/>
						</div>
						<div class="col ">
							<flux:content.render area="column11"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-12">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<div class="col ">
							<flux:content.render area="column1"/>
						</div>
						<div class="col ">
							<flux:content.render area="column2"/>
						</div>
						<div class="col ">
							<flux:content.render area="column3"/>
						</div>
						<div class="col ">
							<flux:content.render area="column4"/>
						</div>
						<div class="col ">
							<flux:content.render area="column5"/>
						</div>
						<div class="col ">
							<flux:content.render area="column6"/>
						</div>
						<div class="col ">
							<flux:content.render area="column7"/>
						</div>
						<div class="col ">
							<flux:content.render area="column8"/>
						</div>
						<div class="col ">
							<flux:content.render area="column9"/>
						</div>
						<div class="col ">
							<flux:content.render area="column10"/>
						</div>
						<div class="col ">
							<flux:content.render area="column11"/>
						</div>
						<div class="col ">
							<flux:content.render area="column12"/>
						</div>
					</div>
				</div>
			</f:case>
			<f:case value="grid-1-2">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<f:if condition="{settings.orientation} == 'small-right'">
							<f:then>
								<v:tag name="div" class="col-md-8 ">
									<flux:content.render area="column1"/>
								</v:tag>
								<v:tag name="div" class="col-md-4 ">
									<flux:content.render area="column2"/>
								</v:tag>
							</f:then>
							<f:else>
								<v:tag name="div" class="col-md-4 ">
									<flux:content.render area="column1"/>
								</v:tag>
								<v:tag name="div" class="col-md-8 ">
									<flux:content.render area="column2"/>
								</v:tag>
							</f:else>
						</f:if>
					</div>
				</div>
			</f:case>
			<f:case value="grid-1-4">
				<div class="{settings.fullwidth}" style="background-color: {settings.backgroundColor};">
					<div class="row" style="background:  url('/{imageFal.url}') no-repeat center; background-size: cover !important; {parallax} {paddingTop} {paddingBottom} {marginTop} {marginBottom} ">
						<f:if condition="{settings.orientation} == 'small-right'">
							<f:then>
								<v:tag name="div" class="col-md-7 " hideIfEmpty="1">
									<flux:content.render area="column1"/>
								</v:tag>
								<v:tag name="div" class="col-md-3 " hideIfEmpty="1">
									<flux:content.render area="column2"/>
								</v:tag>
							</f:then>
							<f:else>
								<v:tag name="div" class="col-md-3 " hideIfEmpty="1">
									<flux:content.render area="column1"/>
								</v:tag>
								<v:tag name="div" class="col-md-7 " hideIfEmpty="1">
									<flux:content.render area="column2"/>
								</v:tag>
							</f:else>
						</f:if>
					</div>
				</div>
			</f:case>
		</f:switch>
	</f:section>
</div>
