<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="icon" options="{group: 'Speziale Elemente'}">
			<flux:form.sheet name="optionIconDefault" label="Einstellungen">
				<flux:field.input name="settings.headline" label="Headline"/>
				<flux:field.text name="settings.content" label="Inhalt" enableRichText="1"/>
				<flux:field.inline.fal name="settings.image" allowedExtensions="jpg,png,gif,svg" label="Bild" maxItems="1"/>
				<flux:field.input name="settings.linkText" label="Link Text"/>
				<flux:field.input name="settings.link" label="Link">
					<flux:wizard.link/>
				</flux:field.input>
				<flux:field.select name="settings.iconBehavior" label="Icon verhalten" items="{
				0: {0: 'Standard', 1: ''},
				1: {0: 'Horizontal', 1: 'info-horizontal'}}">
				</flux:field.select>
				<flux:field.select name="settings.align" label="Ausrichtung" items="{
					0: {0: 'Links', 1: 'text-left'},
					1: {0: 'Mitte', 1: 'text-center'},
					2: {0: 'Rechts', 1: 'text-right'}}">
				</flux:field.select>
				<flux:field.select name="settings.linkBehavior" label="Link verhalten" items="{
				0: {0: 'Standard', 1: '-'},
				1: {0: 'Rund', 1: 'round'},
				2: {0: 'Button', 1: 'btn'}}">
				</flux:field.select>
			</flux:form.sheet>
		</flux:form>ˆ
	</f:section>

	<f:section name="Preview">
		<h3>Icon</h3>
		<p>{settings.headline -> f:format.raw()}</p>
		<p>{settings.content -> f:format.raw()}</p>
	</f:section>

	<f:section name="Main">
		{v:content.resources.fal(field: 'settings.image') -> v:iterator.last() -> v:variable.set(name: 'imageFal')}
		<div class="info {settings.align} {settings.iconBehavior}">
			<div class="icon">
				<img src="{imageFal.url}">
			</div>
			<div class="description">
				<h4 class="info-title">
					{settings.headline -> f:format.raw()}
				</h4>
				<p>{settings.content -> f:format.raw()}</p>
				<f:if condition="{settings.link}">
					<f:switch expression="{settings.linkBehavior}">
						<f:case value="-">
							<a href="{f:uri.typolink(parameter: settings.link)}" class="btn btn-link">{settings.linkText}</a>
						</f:case>
						<f:case value="round">
							<a href="{f:uri.typolink(parameter: settings.link)}" class="btn btn-primary btn-round">{settings.linkText}</a>
						</f:case>
						<f:case value="btn">
							<a href="{f:uri.typolink(parameter: settings.link)}" class="btn btn-primary">{settings.linkText}</a>
						</f:case>
					</f:switch>
				</f:if>
			</div>
		</div>
	</f:section>
</div>
