<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="link" options="{group: 'Speziale Elemente'}">
			<flux:form.sheet name="optionButton" label="Link">
				<flux:field.input name="settings.linkText" label="Link Text"/>
				<flux:field.input name="settings.link" label="Link">
					<flux:wizard.link/>
				</flux:field.input>
			</flux:form.sheet>
			<flux:form.sheet name="optionLinkEinstellung" label="Styling">
				<f:render partial="Dropdowns/colour" />
				<flux:field.checkbox name="settings.tooltip" label="Tooltip?" requestUpdate="true" />
				<flux:field.input name="settings.toolTiptitle" label="Tooltip Titel" displayCond="FIELD:settings.tooltip:=:1" />
				<flux:field.select name="settings.toolTipAlign" label="Tooltip Ausrichtung" displayCond="FIELD:settings.tooltip:=:1" items="{
					0: {0: 'keine', 1: 'top'},
					1: {0: 'Oben', 1: 'top'},
					2: {0: 'Unten', 1: 'bottom'},
					3: {0: 'Links', 1: 'left'},
					4: {0: 'Rechts', 1: 'right'}}">
				</flux:field.select>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<div class="btn {settings.buttonSize} {settings.buttonStyle} {buttonColor}">
			{settings.linkText}
		</div>
	</f:section>

	<f:section name="Main">
		<v:variable.set name="linkColor" value="btn-{settings.color}"/>
		<a href="{settings.link}" class="btn btn-link {linkColor}" data-toggle="tooltip" data-placement="{settings.toolTipAlign}" title="{settings.toolTiptitle}">{settings.linkText}</a>
	</f:section>
</div>
