<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="linkList" options="{group: 'Extra Elemente'}">
			<flux:form.sheet name="optionListe" label="Listen Einstellungen">
				<flux:form.section name="sections">
					<flux:form.object name="section" label="Listen Element">

					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		Banner Element
	</f:section>

	<f:section name="Main">
		<ul class="customLinksUl">
			<f:for each="{sections}" as="object">
				<li>
					<f:link.typolink parameter="{object.section.settings.listLink}">
						<i class="fa fa-chevron-right"></i><span>{object.section.settings.listLinkText}</span>
					</f:link.typolink>
				</li>
			</f:for>
		</ul>
	</f:section>
</div>
