<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="sidebarBox" options="{group: 'Extra Elemente'}">
			<flux:form.sheet name="optionImage" label="Kontakt Element Einstellungen">

			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		Kontakt Element
	</f:section>

	<f:section name="Main">
			<h4>{settings.contactPrimaryHeading}</h4>
			<div id="contact">
				<f:if condition="{settings.contactImage}">
					{v:content.resources.fal(field: 'settings.contactImage') -> v:iterator.last() -> v:variable.set(name: 'imageFal')}
				</f:if>
				<p><f:format.raw>
					{settings.contactHeading}
				</f:format.raw></p>
				<p><f:format.raw>
					{settings.contactContent}
				</f:format.raw></p>
				<div class="contactImage">
					<f:if condition="{settings.contactImage}">
						<f:image src="{imageFal.url}" />
					</f:if>
				</div>
				<div class="contactLink">
					<f:link.typolink parameter="{settings.contactLink}">
						{settings.contactLinkText}
					</f:link.typolink>
				</div>
			</div>
	</f:section>
</div>
