<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="simpleslider" options="{group: 'Slider'}">
			<flux:form.sheet name="optionText" label="Slider">
				<flux:form.section name="sections">
					<flux:form.object name="section" label="Slider Element">
						<flux:field.file name="settings.sliderImage" allowed="jpg,png,gif,svg" label="Sliderbild" showThumbnails="1"/>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="optionSlider" label="Einstellungen">
				<flux:field.checkbox name="settings.autoslide" label="Startet der Slider automatisch?"/>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		Slider Element
	</f:section>

	<f:section name="Main">
		<f:if condition="{settings.isAutoslide} == 1">
			<f:then>
				<v:variable.set name="autoslide" value="true"/>
			</f:then>
			<f:else>
				<v:variable.set name="autoslide" value="false"/>
			</f:else>
		</f:if>

		<v:asset.script name="owl-js-slidehow-{record.uid}">

			var owl = $('#slider');

			var auto = {autoslide};
			var speed = 2000;

			owl.owlCarousel({
			autoplay:true,
			autoplayTimeout:1000,
			autoplayHoverPause:true,
			items: 1,
			nav: true,
			navSpeed: speed,
			loop: true,
			autoplay: auto,
			navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
			onInitialized : counter, //When the plugin has initialized.
			onTranslated : counter //When the translation of the stage has
			});

			function counter(event) {
			var element = event.target; // DOM element, in this example .owl-carousel
			var items = event.item.count; // Number of items
			var item = event.item.index + 1; // Position of the current item

			// it loop is true then reset counter from 1
			if(item > items) {
			item = item - items
			}
			$('#counter').html(+item+"/"+items)
			}

		</v:asset.script>

		<div id="slider" class="owl-carousel owl-theme">
			<f:for each="{sections}" as="object">
				<div class="backgroundImage" style="background-image: url('/{object.section.settings.sliderImage}');"></div>
			</f:for>
		</div>
	</f:section>
</div>
