<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="table" options="{group: 'Tabelle'}">
			<flux:form.sheet name="optionImage" label="Tabellen Einstellungen">
				<flux:form.section name="sections">
					<flux:form.object name="section" label="Tabellen Zeile">

					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		Tabellen Element
	</f:section>

	<f:section name="Main">
		<table class="table">
			<tr class="heading">
				<th>Rang</th>
				<th>Spielername</th>
				<th>Bank</th>
				<th>Performance in %</th>
				<th>Performance in EUR</th>
			</tr>
			<f:for each="{sections}" as="tr">
				<tr>
					<td>{tr.section.settings.grade}</td>
					<td>{tr.section.settings.playerName}</td>
					<td>{tr.section.settings.bank}</td>
					<td>{tr.section.settings.performance}</td>
					<td>{tr.section.settings.performanceEUR}</td>
				</tr>
			</f:for>
		</table>
	</f:section>
</div>
