<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

    <f:layout name="Content"/>

    <f:section name="Configuration">
        <flux:form id="video" options="{group: 'Extra Elemente'}">
            <flux:form.sheet name="optionVideo" label="Video Einstellungen">

            </flux:form.sheet>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        Video Element
    </f:section>

    <f:section name="Main">
        <f:if condition="{settings.videoFromUrl} == 1">
            <div class="videoElement">
                <iframe src="{settings.videoUrl}" frameborder="0"></iframe>
            </div>
        </f:if>
    </f:section>
</div>
